[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
wtforms = "*"
sqlalchemy = "*"
pymysql = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlacodegen = "*"

[requires]
python_version = "3.6"
